.emptyBox{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.row{
  display: flex;
}

.dropButton{
  display: flex;
  flex-direction: column;
}

.red{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: red;
}

.yellow{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
