.emptyBox{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.column{
  display: flex;
  flex-direction: column;
}

.board{
  display: flex;
  flex-wrap: wrap;
}

.dropButton{
  display: flex;
  flex-direction: column;
}

.red{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.red .token, .yellow .token{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.red .token{
    background-color: red;
}

.yellow .token{
    background-color: yellow;
}

.yellow{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
