.faq {
  border: 1px solid black;
  margin-bottom: 2rem;
}

.answer {
  text-indent: 2rem;
  opacity: 70%;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqSubContainer{
  width: 50%;
}

span{
  padding-right: 1rem;
}

.question{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  cursor: pointer;
}

.question:hover{
  background: rgb(122, 88, 88, .50);
}