.faq {
  border: 1px solid black;
  margin-bottom: 2rem;
}

.answer {
  padding-top: 1rem;
  text-indent: 2rem;
  opacity: 70%;
  padding-bottom: 1rem;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqSubContainer{
  width: 50%;
}

span{
  padding-right: 1rem;
}

.question{
  padding: 1rem;
  cursor: pointer;
}

.question:hover{
  background: rgb(122, 88, 88, .50);
}