.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.counterHistoryContainer {
  width: 50%;
  max-height: 300px;
  margin-top: 4rem;
  overflow-y: scroll;
  border: 1px solid black;
}

.subCounterHistoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterHistoryGridBox {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.secondaryButtonContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
}

.counterHistoryContainer span,
.count {
  font-size: 2rem;
}
